<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <http realm="JavaStudy example" use-expressions="false" auto-config="true">
        <intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/questions" access="ROLE_METHODIST, ROLE_ADMIN"/>
        <intercept-url pattern="/users" access="ROLE_ADMIN"/>
        <intercept-url pattern="/createuser" access="ROLE_ADMIN"/>
        <intercept-url pattern="/deleteusers" access="ROLE_ADMIN"/>
        <intercept-url pattern="/questionlist" access="ROLE_ADMIN, ROLE_METHODIST"/>
        <intercept-url pattern="/deletequestions" access="ROLE_ADMIN,ROLE_METHODIST"/>
        <intercept-url pattern="/testmanagement" access="ROLE_ADMIN,ROLE_METHODIST"/>
        <intercept-url pattern="/include" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/exitUser*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <form-login login-page="/login"
                    authentication-failure-url="/login?login_error"/>
        <http-basic/>
        <logout logout-success-url="/exitUser.jsp"/>
        <remember-me />
        <headers/>
        <csrf/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="loginService">
        </authentication-provider>
    </authentication-manager>

</b:beans>